<form action="{{ url }}" method="post" class="inline-form search-form">
  <label for="search-field" class="u-hidden--visually">Search</label>
  <input type="input" placeholder="{{ placeholder }}..." id="search-field" class="search-form__input {{ styleModifier }}" name="searchterm" value="{{ search-term }}">
  <input type="submit" class="search-form__submit" name="search" alt="Search">
</form>
