<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    <div class="panel">
      {{> organisms-hero-banner styleModifier="hero-banner--sepia-fade" }}
      {{> organisms-priority-links }}
    </div>

    {{#if emergency }}
      {{> molecules-alert-error }}
    {{/if }}

    <div class="l-container">

      <section class="l-content-above l-quad--third">
        {{#each contentAbove }}
          <div class="l-quad__region">
            <div class="panel">{{> atoms-landscape-16x9 }}</div>
          </div>
        {{/each}}
      </section>

      <section class="l-davis">
        <div class="l-content">
          <div class="panel">
            {{> molecules-spotlight styleModifier="category-brand--western-redbud" }}
          </div>
          {{#each marketingHighlightFeatured.shortBurst }}
            <div class="panel l-sibling-grid--half">
              {{> molecules-marketing-highlight styleModifier="marketing-highlight--featured" }}
            </div>
          {{/each }}
          <div class="panel">
            {{> atoms-video-youtube }}
          </div>
          <div class="panel">
            {{> molecules-slideshow }}
          </div>
          <div class="panel panel--transparent panel--auxilary">
            <h2 class="panel__title">Follow Us</h2>
            {{> molecules-social-follow }}
          </div>
        </div><!--end .l-content-->

        <div class="l-sidebar-first">
          <div class="panel o-box panel--icon panel--icon-bullhorn">
            <h2 class="panel__title">Upcoming Events</h2>
            {{> organisms-event-list }}
          </div>
          <div class="panel o-box panel--icon panel--icon-bulb">
            <h2 class="panel__title">Top Stories</h2>
            {{> organisms-article-list }}
          </div>
          {{#each focalLinks }}
            <div class="panel">
              {{> molecules-focal-link }}
            </div>
          {{/each }}
        </div><!--end .l-sidebar-first-->
      </section>

      <section class="l-content-below l-quad">
        {{#each contentBelow }}
          <div class="l-quad__region">
            <div class="panel">{{> atoms-landscape-16x9 }}</div>
          </div>
        {{/each}}
      </section>

    </div>

  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
