<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title }}

    {{#if emergency }}
      {{> molecules-alert-error }}
    {{/if }}

    <div class="l-container">
      {{> molecules-breadcrumbs }}

      <div class="l-davis--flipped">

        <div class="l-content">
          <div class="panel o-box--large">
            <h2 class="heading--underline">{{ headline.short }}</h2>
            <div class="u-align--right u-width--half">
              {{> molecules-figure-with-caption }}
            </div>
            {{ excerpt.long }}
            <h3>{{ headline.short }}</h3>
            {{ excerpt.short }}
            {{> atoms-unordered }}

            <h2 class="heading--auxiliary">Documents</h2>
            {{> atoms-list-download }}

            <h2 class="heading--auxiliary">Tags</h2>
            {{> molecules-tags }}
          </div>
        </div><!--end .l-content-->

        <div class="l-sidebar-second">
          <div class="panel">
            {{> molecules-sub-nav }}
          </div>
          <div class="panel panel--transparent panel--auxilary">
            <h2 class="panel__title">Follow Us</h2>
            {{> molecules-social-follow }}
          </div>
        </div><!--end .l-sidebar-second-->

      </div>

    </div>
  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
