<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title }}

    <div class="l-container">
      {{> molecules-breadcrumbs }}

      <div class="l-davis--flipped">

        <div class="l-content">
          <div class="panel o-box--large">
            <!-- Featured Image -->
            <div class="u-space-bottom--large">
              {{> atoms-landscape-16x9 }}
            </div>
            <!-- Event date -->
            <h2 class="u-space-bottom--small">{{ event.date }} <span class="date-separator">@</span> {{ event.time }}</h2>
            <div class="u-space-bottom--small">{{> molecules-dropdown }}</div>
            <div>
              <span class="icon icon--location">{{ location }}</span>
            </div>
            <div>
              <a class="icon icon--link icon--map" href="{{ url }}">Map to Event</a>
            </div>
            <div>
              <a class="icon icon--link icon--calendar" href="{{ url }}">{{ addToCalendar }}</a>
            </div>

            {{> molecules-social-share }}

            <div class="u-clearfix">
              {{> organisms-event-body }}
            </div>

            <h2 class="heading--auxiliary">Documents</h2>
            {{> atoms-list-download styleModifier="u-space-bottom--large" }}

            {{#each singleCategory }}
              <h2 class="heading--auxiliary">Category</h2>
              <div class="u-clearfix">
                {{> molecules-tags }}
              </div>
            {{/each }}

            <h2 class="heading--auxiliary">Tags</h2>
            {{> molecules-tags }}

          </div>
        </div><!--end .l-content-->

        <div class="l-sidebar-second">
          <div class="panel o-box">
            <h2 class="panel__title">People</h2>
            {{#each peopleListShort }}
              {{> molecules-listing }}
            {{/each }}
          </div>
          <div class="panel o-box">
            <h2 class="panel__title">Upcoming Events</h2>
            {{> organisms-event-list }}
          </div>
          <div class="panel o-box">
            <h2 class="panel__title">Categories</h2>
            {{> molecules-category-filter }}
          </div>
        </div><!--end .l-sidebar-second-->

      </div>

    </div><!--End .l-container-->

  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
