<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title }}

    <div class="l-container full-width">
      {{> molecules-breadcrumbs }}

      <div class="l-content">
        <div class="panel o-box--large">
          {{#each taxonomyResults }}
            {{> molecules-teaser }}
          {{/each }}
          {{> molecules-pagination }}
        </div>
      </div><!--end .l-content-->

    </div>
  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
