<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

  {{> organisms-page-title }}

  <div class="l-container">
    {{> molecules-breadcrumbs }}

    <div class="l-davis--flipped">

      <div class="l-sidebar-first">
        <div class="panel panel--mobile-collapse o-box">
          <h2 class="panel__title">Filter Results</h2>
          <div class="panel__content">
            <div class="field-container">
              <label for="firstname">First Name</label>
              <input type="text" id="firstname">
            </div>
            <div class="field-container">
              <label for="lastname">Last Name</label>
              <input type="text" id="lastname">
            </div>
            <div class="field-container">
              <label for="position_title">{{ person.title }}</label>
              <input type="text" id="position_title">
            </div>
            <div class="field-container">
              <label for="unit">{{ person.dept }}</label>
              <input type="text" id="unit">
            </div>
            <div class="field-container">
              <label for="type">{{ person.type }}</label>
              <input type="text" id="type">
            </div>
            <input type="submit" class="btn--primary u-align--right" value="Apply Filter">
          </div>
        </div>
      </div><!--end .l-sidebar-second-->

      <div class="l-content">
        <div class="panel o-box--large">
          {{#each peopleGroups }}
            <h2>{{ peopleGroupTitle }}</h2>
            {{#each peopleList }}
              {{> molecules-teaser grouped="true" }}
            {{/each }}
          {{/each}}
        </div>
      </div><!--end .l-content-->

    </div>

  </div>
</main><!--End role=main-->
  {{> organisms-footer }}
</div>
