<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title }}

    <div class="l-container">
      {{> molecules-breadcrumbs }}

      <div class="l-davis--flipped">

        <div class="l-content">
          <div class="panel">
            {{> molecules-search-form }}
          </div>
          <div class="panel o-box--large">
            {{> atoms-search-findings }}
            {{#each searchResultsList }}
              <h2><a href="{{ url }}">{{ headline.medium }}</a></h2>
            {{/each}}
          </div>
        </div><!--end .l-content-->

        <div class="l-sidebar-second">
          <div class="panel o-box">
            <h2 class="panel__title">Filters</h2>
              <ul class="list--filter">
                {{#each filterList }}
                  <li>
                    <label><input type="checkbox">{{ filter }} {{ filterNum }}</label>
                  </li>
                {{/each }}
              </ul>
          </div>
        </div><!--end .l-sidebar-second-->

      </div>

    </div>
  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
