<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title }}

    <div class="l-container full-width">
      {{> molecules-breadcrumbs }}

      <div class="l-content">
        <div class="panel o-box--large">
          <div class="u-space-bottom--large">
            {{> molecules-social-share }}
            <p>{{ excerpt.short }}</p>
          </div>

          {{> molecules-image-gallery }}

          {{#each singleCategory }}
            <h2 class="heading--auxiliary">Category</h2>
            <div class="u-clearfix">
              {{> molecules-tags }}
            </div>
          {{/each }}

          <h2 class="heading--auxiliary">Tags</h2>
          {{> molecules-tags }}
        </div>
      </div><!--end .l-content-->

    </div>
  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
