<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title }}

    <div class="l-container">
      {{> molecules-breadcrumbs }}

      <div class="l-davis--flipped">

        <div class="l-sidebar-first">
          <div class="panel panel--mobile-collapse o-box">
            <h2 class="panel__title">Filter by Category</h2>
            <div class="panel__content">
              {{> molecules-category-filter }}
            </div>
          </div>
        </div><!--end .l-sidebar-first-->

      <div class="l-content">
        <div class="panel o-box--large">
          {{> organisms-poster-list styleModifier="poster-list--2-col" }}
        </div>
      </div><!--end .l-content-->

      </div>

    </div>
  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
