<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title }}

    <div class="l-container full-width">
      {{> molecules-breadcrumbs }}

      <div class="l-content">
        <div class="panel o-box--large">
          <h2 class="heading--weighted-underline">Central Authentication Service(CAS)</h2>
          <p>Access this site using your UC Davis credentials.</p>
          <a href="#" class="btn--primary">Log in</a>
          <hr>
          <a href="{{ url }}">Visit the administrative access page.</a>
        </div>
      </div><!--end .l-content-->

    </div>
  </main><!--End role=main-->
  {{> organisms-footer }}
</div>
