<main class="l-main">
  <h2>Branded Page Titles</h2>
  {{> organisms-page-title }}
  {{> organisms-page-title categoryBrand="category-brand--unitrans-red" }}
  {{> organisms-page-title categoryBrand="category-brand--western-redbud" }}
  {{> organisms-page-title categoryBrand="category-brand--california-poppy" }}
  {{> organisms-page-title categoryBrand="category-brand--golden-lupine" }}
  {{> organisms-page-title categoryBrand="category-brand--sunny-grass" }}
  {{> organisms-page-title categoryBrand="category-brand--sky-blue" }}
  {{> organisms-page-title categoryBrand="category-brand--rec-pool-blue" }}
  {{> organisms-page-title categoryBrand="category-brand--wine-grape" }}
  {{> organisms-page-title categoryBrand="category-brand--mu-brick" }}
  {{> organisms-page-title categoryBrand="category-brand--hart-hall-stucco" }}
  {{> organisms-page-title categoryBrand="category-brand--sage-green" }}
  {{> organisms-page-title categoryBrand="category-brand--evergreen" }}
  {{> organisms-page-title categoryBrand="category-brand--winter-sky-gray" }}
  {{> organisms-page-title categoryBrand="category-brand--centennial-walk-gray" }}
  {{> organisms-page-title categoryBrand="category-brand--cork-oak" }}
  {{> organisms-page-title categoryBrand="category-brand--south-hall-brown" }}
  <h2>Branded Collapse</h2>
  {{> molecules-collapse }}
  {{> molecules-collapse brandClass="category-brand--unitrans-red" }}
  {{> molecules-collapse brandClass="category-brand--western-redbud" }}
  {{> molecules-collapse brandClass="category-brand--california-poppy" }}
  {{> molecules-collapse brandClass="category-brand--golden-lupine" }}
  {{> molecules-collapse brandClass="category-brand--sunny-grass" }}
  {{> molecules-collapse brandClass="category-brand--sky-blue" }}
  {{> molecules-collapse brandClass="category-brand--rec-pool-blue" }}
  {{> molecules-collapse brandClass="category-brand--wine-grape" }}
  {{> molecules-collapse brandClass="category-brand--mu-brick" }}
  {{> molecules-collapse brandClass="category-brand--hart-hall-stucco" }}
  {{> molecules-collapse brandClass="category-brand--sage-green" }}
  {{> molecules-collapse brandClass="category-brand--evergreen" }}
  {{> molecules-collapse brandClass="category-brand--winter-sky-gray" }}
  {{> molecules-collapse brandClass="category-brand--centennial-walk-gray" }}
  {{> molecules-collapse brandClass="category-brand--cork-oak" }}
  {{> molecules-collapse brandClass="category-brand--south-hall-brown" }}
  <h2>Featured Teasers</h2>
  {{> molecules-teaser featured="true" styleModifier="category-brand--unitrans-red" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--western-redbud" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--california-poppy" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--golden-lupine" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--sunny-grass" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--sky-blue" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--rec-pool-blue" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--wine-grape" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--mu-brick" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--hart-hall-stucco" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--sage-green" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--evergreen" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--winter-sky-gray" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--centennial-walk-gray" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--cork-oak" }}
  {{> molecules-teaser featured="true" styleModifier="category-brand--south-hall-brown" }}
  <h2>Poster VM</h2>
  {{> molecules-poster }}
  {{> molecules-poster brandClass="category-brand--unitrans-red" }}
  {{> molecules-poster brandClass="category-brand--western-redbud" }}
  {{> molecules-poster brandClass="category-brand--california-poppy" }}
  {{> molecules-poster brandClass="category-brand--golden-lupine" }}
  {{> molecules-poster brandClass="category-brand--sunny-grass" }}
  {{> molecules-poster brandClass="category-brand--sky-blue" }}
  {{> molecules-poster brandClass="category-brand--rec-pool-blue" }}
  {{> molecules-poster brandClass="category-brand--wine-grape" }}
  {{> molecules-poster brandClass="category-brand--mu-brick" }}
  {{> molecules-poster brandClass="category-brand--hart-hall-stucco" }}
  {{> molecules-poster brandClass="category-brand--sage-green" }}
  {{> molecules-poster brandClass="category-brand--evergreen" }}
  {{> molecules-poster brandClass="category-brand--winter-sky-gray" }}
  {{> molecules-poster brandClass="category-brand--centennial-walk-gray" }}
  {{> molecules-poster brandClass="category-brand--cork-oak" }}
  {{> molecules-poster brandClass="category-brand--south-hall-brown" }}
  <h2>Spotlight VM</h2>
  {{> molecules-spotlight }}
  {{> molecules-spotlight styleModifier="category-brand--unitrans-red" }}
  {{> molecules-spotlight styleModifier="category-brand--western-redbud" }}
  {{> molecules-spotlight styleModifier="category-brand--california-poppy" }}
  {{> molecules-spotlight styleModifier="category-brand--golden-lupine" }}
  {{> molecules-spotlight styleModifier="category-brand--sunny-grass" }}
  {{> molecules-spotlight styleModifier="category-brand--sky-blue" }}
  {{> molecules-spotlight styleModifier="category-brand--rec-pool-blue" }}
  {{> molecules-spotlight styleModifier="category-brand--wine-grape" }}
  {{> molecules-spotlight styleModifier="category-brand--mu-brick" }}
  {{> molecules-spotlight styleModifier="category-brand--hart-hall-stucco" }}
  {{> molecules-spotlight styleModifier="category-brand--sage-green" }}
  {{> molecules-spotlight styleModifier="category-brand--evergreen" }}
  {{> molecules-spotlight styleModifier="category-brand--winter-sky-gray" }}
  {{> molecules-spotlight styleModifier="category-brand--centennial-walk-gray" }}
  {{> molecules-spotlight styleModifier="category-brand--cork-oak" }}
  {{> molecules-spotlight styleModifier="category-brand--south-hall-brown" }}
  <h2>Focus Box</h2>
  {{> molecules-focus-box }}
  {{> molecules-focus-box styleModifier="category-brand--unitrans-red" }}
  {{> molecules-focus-box styleModifier="category-brand--western-redbud" }}
  {{> molecules-focus-box styleModifier="category-brand--california-poppy" }}
  {{> molecules-focus-box styleModifier="category-brand--golden-lupine" }}
  {{> molecules-focus-box styleModifier="category-brand--sunny-grass" }}
  {{> molecules-focus-box styleModifier="category-brand--sky-blue" }}
  {{> molecules-focus-box styleModifier="category-brand--rec-pool-blue" }}
  {{> molecules-focus-box styleModifier="category-brand--wine-grape" }}
  {{> molecules-focus-box styleModifier="category-brand--mu-brick" }}
  {{> molecules-focus-box styleModifier="category-brand--hart-hall-stucco" }}
  {{> molecules-focus-box styleModifier="category-brand--sage-green" }}
  {{> molecules-focus-box styleModifier="category-brand--evergreen" }}
  {{> molecules-focus-box styleModifier="category-brand--winter-sky-gray" }}
  {{> molecules-focus-box styleModifier="category-brand--centennial-walk-gray" }}
  {{> molecules-focus-box styleModifier="category-brand--cork-oak" }}
  {{> molecules-focus-box styleModifier="category-brand--south-hall-brown" }}
  <h2>Branded Textboxs</h2>
  {{> molecules-brand-textbox }}
  <div class="category-brand--unitrans-red">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--western-redbud">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--california-poppy">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--golden-lupine">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--sunny-grass">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--sky-blue">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--rec-pool-blue">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--wine-grape">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--mu-brick">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--hart-hall-stucco">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--sage-green">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--evergreen">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--winter-sky-gray">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--centennial-walk-gray">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--cork-oak">{{> molecules-brand-textbox }}</div>
  <div class="category-brand--south-hall-brown">{{> molecules-brand-textbox }}</div>
</main>
