<ul class="list--accordion">
  <li>How far away is the Sun?</li>
  <li>Really Far.</li>
  <li>Can you be more clear?</li>
  <li>No, this is why school is important.</li>
  <li>How close is the Sun?</li>
  <li>That's basically the same question as above.</li>
</ul>