// Default 3 region layouts.

// sass-lint:disable indentation

// NOTICE: Grid Areas should be used so that autoprefixer can convert the grids
// for IE.

// Default settings for the davis layout. This will need to be used within each
// media query because grid-gap is not recognized from a parent by autoprefixer.
@mixin l-davis-settings() {
  display: grid;
  grid-column-gap: $grid-gap;
  grid-template-rows: max-content 1fr;
}

// IE needs the regions explicit to each breakpoint.
@mixin l-davis-regions() {
  .l-content {
    grid-area: content;
    // https://github.com/kenwheeler/slick/issues/982#issuecomment-345057850
    min-width: 0;
  }

  .l-sidebar-first {
    grid-area: first;
    min-width: 0;
  }

  .l-sidebar-second {
    grid-area: second;
    min-width: 0;
  }
}

// Positions the first and second sidebar to the left side of the page.
.l-davis {
  @include breakpoint($bp-medium--up) {
    @include l-davis-settings();
    @include l-davis-regions();
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "first content"
      "second content";
  }
}

// Positions the first and second sidebar to the right side of the page.
.l-davis-flipped, // Deprecated. Use the --
.l-davis--flipped {
  @include breakpoint($bp-medium--up) {
    @include l-davis-settings();
    @include l-davis-regions();
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "content first"
      "content second";
  }
}

// Positions the first and second sidebar to the sides of the page with content
// in the middle.
.l-davis-3col, // Deprecated. Use the --
.l-davis--3col {
  @include breakpoint($bp-medium--up) {
    @include l-davis-settings();
    @include l-davis-regions();
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "first content second";
  }
}
