<footer class="l-footer footer">
  <div class="l-container">
    <div class="flex-footer">
      <div class="flex-footer__item">
        {{> molecules-site-credits }}
      </div>
      <div class="flex-footer__item">
        <h2>Footer Menu</h2>
        {{> molecules-footer-nav }}
      </div>
      <div class="flex-footer__item">
        <h2>Follow Us</h2>
        {{> molecules-social-follow }}
      </div>
    </div>

    <div class="footer-spacer">
      <hr class="footer-spacer__hr hr-invert">
      <div class="footer-spacer__logo">
        {{> atoms-ucd-logo }}
      </div>
    </div>

    {{> molecules-info-copyright }}
  </div>
</footer>
