{{#if featuredImage }}
  <div class="page-title page-title--banner {{ featuredImage.categoryBrand }} {{#if emergency }}u-space-below--flush{{/if}}">
    <div class="page-title__title--nested">
      <h1 class="page-title__title category-brand__text--knock-out">{{ title }}</h1>
    </div>
    {{> atoms-title-banner }}
  </div>
{{else}}
  <div class="page-title {{ categoryBrand }}">
    <h1 class="page-title__title category-brand__text--knock-out">{{ title }}</h1>
  </div>
{{/if}}
