<div class="l-quad--half">
  <div class="l-quad__region">
    <div class="panel o-box--large">
      {{ excerpt.short }}
    </div>
  </div>
  <div class="l-quad__region">
    <div class="panel o-box--large">
      {{ excerpt.short }}
    </div>
  </div>
</div>