<div class="l-quad--1x3">
  <div class="l-quad__region--first">
    <div class="panel o-box--flush">
      {{> molecules-spotlight }}
    </div>
  </div>
  <div class="l-quad__region--second">
    <div class="panel o-box--flush">
      {{> molecules-focal-link }}
    </div>
  </div>
  <div class="l-quad__region--third">
    <div class="panel o-box">
      {{> organisms-article-list }}
    </div>
  </div>
  <div class="l-quad__region--fourth">
    <div class="panel o-box--flush">
      {{> molecules-slideshow }}
    </div>
  </div>
</div>