<div class="sub-nav">
  {{#if tertiary-page }}
    {{#if tertiary-page-linked }}
      <h2 class="sub-nav__title-linked"><a href="{{ url }}">{{ parent-page-title }}</a></h2>
    {{else}}
      <h2 class="sub-nav__title">{{ parent-page-title }}</h2>
    {{/if}}
  {{/if }}
  <ul class="menu">
    <li><a href="{{ url }}">Current Page</a>
      <ul>
        <li><a href="{{ url }}">child page</a></li>
        <li><a href="{{ url }}">child page</a></li>
        <li><a href="{{ url }}">child page</a></li>
        <li><a href="{{ url }}">child page</a></li>
      </ul>
    </li>
    <li><a href="{{ url }}">Sibling Page</a></li>
    <li><a href="{{ url }}">Sibling Page</a></li>
    <li><a href="{{ url }}">Sibling Page</a></li>
    <li><a href="{{ url }}">Sibling Page</a></li>
    <li><a href="{{ url }}">Sibling Page</a></li>
    <li><a href="{{ url }}">Sibling Page</a></li>
  </ul>
</div>
