<ul class="category-filter">
  {{#each categoryFilter }}
    <li class="category-filter__list-item {{#if isActiveLink }}category-filter__list-item--active{{/if}} {{ brandColor }}">
      <a href="{{ url }}" class="category-filter__link category-brand__circle-icon"><span>{{ text }}</span></a>
    </li>
  {{/each }}
</ul>
