<div class="dropdown">
  <button class="dropdown__btn">{{ dropdownTitle }}</button>
  <ul class="dropdown__content">
    {{#each dropdownItems }}
      <li class="dropdown__item"><a href="{{ url }}">{{ dropdownItem }}</a></li>
    {{/each}}
  </ul>
</div>