<div class="vm-listing o-media {{ styleModifier }}">
  {{#if hasMediaFigure }}
  <div class="o-media__figure">
    <a href="{{ url }}" class="category-brand__thumbnail">{{> atoms-thumbnail }}</a>
  </div>
  {{/if}}
  <div class="o-media__body">
    <h3 class="vm-listing__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
    {{#if showDate }}
      <div class="vm-listing__submitted">{{ month.long }} {{ day.short }},  {{ year.long }}</div>
    {{/if}}
    {{ headline.short }}
  </div>
</div>
