<article class="o-media vm-teaser {{#if featured }}vm-teaser--featured{{/if }} {{#if grouped }}vm-teaser--grouped{{/if}} {{brandClass}} {{ styleModifier }}">
  {{#if hasMediaFigure }}
    <div class="o-media__figure vm-teaser__figure category category-brand__thumbnail">
      <a href="{{ url }}">{{> atoms-thumbnail }}</a>
    </div>
  {{/if }}
  <div class="o-media__body">
    {{#if teaserPerson }}
      <h3 class="vm-teaser__title"><a href="{{ url }}">{{ person.headline }}</a></h3>
    {{else}}
      <h3 class="vm-teaser__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
    {{/if }}
    {{#if teaserByline }}
      <ul class="vm-teaser__byline">
        <li>{{> molecules-byline }}</li>
        <li>{{ month.long }} {{ day.short }}, {{ year.long }}</li>
      </ul>
    {{/if }}
    {{#if teaserPerson }}
      <ul class="vm-teaser__position">
        <li><strong>{{ person.title }}</strong></li>
        <li>{{ person.dept }}</li>
      </ul>
    {{/if }}
    {{#if teaserCategorized }}
      <ul class="vm-teaser__categories">
        {{#each catList }}
          <li class="{{ brandColor }}"><a href="{{ url }}">{{ categoryValue }}</a></li>
        {{/each}}
      </ul>
    {{/if }}
    {{#if teaserSummary }}
      <div class="vm-teaser__summary">{{ excerpt.short }}</div>
    {{/if}}
    {{#if teaserEvent }}
      <ul class="vm-teaser__contact list--pipe text--smaller">
        <li>
          <a class="icon icon--link icon--calendar" href="{{ url }}">{{ month.short }} {{ day.short }}, {{ year.long }} <span class="date-separator">@</span> {{ hour.long }}:{{ minute.long }} {{ hour.ampm }}</a>
        </li>
        <li>
          <a class="icon icon--link icon--map" href="{{ url }}">{{ event.mapLink }}</a>
        </li>
        <li>
          <div class="icon icon--location">{{ address.number }} {{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zip }}</div>
        </li>
        <li>
          <a class="icon icon--link icon--view-more" href="{{ url }}">{{ event.linkText }}</a>
        </li>
      </ul>
    {{/if }}
    {{#if teaserPerson }}
      {{#if person.contactInfo }}
        <ul class="vm-teaser__contact list--pipe text--smaller">
          <li>
            <a class="icon icon--link icon--phone" href="{{ url }}">{{ phoneNum }}</a>
          </li>
          <li>
            <a class="icon icon--link icon--envelope" href="{{ url }}">{{ emailAdd }}</a>
          </li>
          <li>
            <a class="icon icon--link icon--web" href="{{ url }}">{{ webLink }}</a>
          </li>
          <li>
            <a class="icon icon--link icon--view-more" href="{{ url }}">{{ personLink }}</a>
          </li>
        </ul>
      {{/if}}
      {{#if person.location }}<div class="icon icon--location">{{ person.location }}</div>{{/if}}
      {{#if person.address }}<div class="icon icon--map u-space-bottom--small">{{ address.number }} {{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zip }}</div>{{/if }}
      {{#if person.officeHours }}<div class="text--smaller u-space-bottom"><strong>Office Hours</strong> {{ person.officeHours }}</div>{{/if }}

    {{/if }}
  </div>
</article>
