<a href="{{ url }}" class="vertical-link {{#if isCircle }}vertical-link--circle{{/if}} {{ icon-class }}">
  {{#if hasFigure }}
    <div class="vertical-link__figure">
    {{#if icon }}
      <i class="vertical-link__image {{ icon }} fa-3x"></i>
    {{else}}
      {{> atoms-thumbnail styleModifier="vertical-link__image" }}
    {{/if }}
    </div>
  {{/if }}
  <div class="vertical-link__title">
    {{ actionText }}
  </div>
</a>
