<a href="{{ url }}" class="marketing-highlight {{ brandClass }} {{ styleModifier }}">
  <div class="marketing-highlight__image">
    {{> atoms-landscape-4x3 }}
  </div>
  <div class="marketing-highlight__body">
    {{#if highlightLabel }}
      <h3 class="marketing-highlight__type category-brand__text--knock-out"><span>{{ highlightLabel }}</span></h3>
    {{/if }}
      <h3 class="marketing-highlight__title category-brand__text">{{ headline.short }}</h3>
    {{#if highlightContent }}
      <p>{{{ excerpt.short }}}</p>
    {{/if }}
    {{#if ctaText }}
      <span class="marketing-highlight__cta category-brand__arrow">{{ ctaText }}</span>
    {{/if}}
  </div>
</a>
