<div class="collapse {{ brandClass }}">
  <h2 class="collapse__title collapse__title--closed category-brand__background category-brand__text--knock-out">
    {{ headline.short }}
  </h2>
  <div class="collapse__content u-hidden--visually">
    {{{ excerpt.long }}}
  </div>
</div>
