// Media List (view mode)
.vm-listing {
  margin-bottom: $spacer;
  color: $gray;

  &__title {
    @include reset-list-titles();
    line-height: 1.2;
  }

  // Set a width for the images
  .o-media__figure {
    max-width: 25%;
    overflow: hidden;
  }
}
