<ul class="sg-colors">
  {{#each colors.brand }}
    <li>
      <span class="sg-swatch" style="background: {{ hex }};"></span>
      <span class="sg-label">
        {{#if label }}{{ label }} <br />{{/if}}
        {{#if variable }}{{ variable }} <br />{{/if}}
        {{ hex }}
      </span>
    </li>
  {{/each}}
</ul>

<h2>Primary UC Davis Blue Tints</h2>
<ul class="sg-colors">
  {{#each colors.brandPrimaryTint }}
    <li>
      <span class="sg-swatch" style="background: {{ hex }};"></span>
      <span class="sg-label">
        {{#if label }}{{ label }} <br />{{/if}}
        {{#if variable }}{{ variable }} <br />{{/if}}
        {{ hex }}
      </span>
    </li>
  {{/each}}
</ul>

<h2>Secondary UC Davis Gold Tints</h2>
<ul class="sg-colors">
  {{#each colors.brandSecondaryTint }}
    <li>
      <span class="sg-swatch" style="background: {{ hex }};"></span>
      <span class="sg-label">
        {{#if label }}{{ label }} <br />{{/if}}
        {{#if variable }}{{ variable }} <br />{{/if}}
        {{ hex }}
      </span>
    </li>
  {{/each}}
</ul>

<h2>Category Brand Colors</h2>
<ul class="sg-colors">
  {{#each colors.brandCategory }}
    <li class="{{ class }}">
      <span class="sg-swatch" style="background: {{ hex }};"></span>
      <span class="sg-label">
        {{#if label }}{{ label }} <br />{{/if}}
        {{#if variable }}{{ variable }} <br />{{/if}}
        {{ hex }}
      </span>
    </li>
  {{/each}}
</ul>
